<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos te contactando para dizer que o seu email foi trocado para: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos te contactando para dizer que o seu email foi trocado para: <%= @resource.email %>.</p>
<% end %>
