<p>Olá <%= @resource.email %>!</p>

<p>Alguem solicitou a troca de senha pelo link abaixo.</p>

<p><%= link_to 'Troque minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu pela torca de senha, porfavor ignore esse email.</p>
<p>Sua senha não irá trocar enquanto você não acesse o link acima.</p>
