<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada por causa de muitas tentativas de conexão.</p>

<p>Clique no link abaixo para liberar sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
