
<div class="columns">
  <div class="column is-8 is-centered">

    <%= simple_form_for @produto, html: { multipart: true } do |f| %>
      <%= f.error_notification %>

        <div class="columns">

          <div class="field column is-9">
            <div class="control">
              <%= f.input :Nome , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
            <div class="field">
            <div class="control">
              <%= f.input :Preço, required: true, input_html: {class: "input" , step: 0.1, min: 0, maxlength: 7}, wrapper: false, label_html: { class:"label" },decimal: true, step: 0.1 %>
            </div>
          </div>
          </div>

          

        </div>

        <div class="field">
          <div class="control">
            <%= f.input :Descrição, required: true, input_html: { class:"textarea" }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

        <div class="field">
            <div class="control">
              <%= f.input :Quantidade, required: true, input_html: { class: "input" , step: 0.1, min: 0, maxlength: 7}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :Peso, required: true, input_html: { class: "input" , step: 0.1, min: 0, maxlength: 7}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

        

        
        <div class="field">
          <div class="control">
            <label class="label">Adicionar imagens</label>
              <div class="file">
              <label class="file-label">
                <%= f.input :image, required: true, as: :file, input_html: { class:"file-input produto-image" }, label: false, wrapper: false %>
                  <span class="file-cta">
                    <span class="file-icon"><i class="fa fa-upload"></i></span>
                    <span class="file-label">Escolha um arquivo…</span>
                  </span>
              </label>
              </div>
            </div>
          </div>
          <output id="list"></output>
        <hr />

        <div class="field is-grouped">
          <div class="control">
            <%= f.button :submit, class: 'button is-light' %>
            <%= link_to 'Cancel', produtos_path, class:'button is-light' %>
          </div>
        </div>

      <% end %>
  </div>
</div>
