<% content_for :body_class, 'bg-light' %>

<section class="section produto-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @produto.Nome %></h1>

      <ul class="pv1">
        
      <div class="feature-image">
        <%= image_tag(@produto.image_url(:default)) %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Descrição</h3>
      <%= @produto.Descrição %>


      <h3 class="subtitle is-4 pt5">Dados</h3>

      <table class="table is-narrow">
        <% if @produto.Preço %>
        <tr>
          <td class="has-text-weight-bold">Preço:</td>
          <td><%= @produto.Preço %> R$</td>
        </tr>
        <% end %>

        <% if @produto.Peso %>
          <tr>
            <td class="has-text-weight-bold">Peso:</td>
            <td><%= @produto.Peso %> Kg</td>
          </tr>
        <% end %>

        <% if @produto.Quantidade %>
          <tr>
            <td class="has-text-weight-bold">Quantidade:</td>
            <td><%= @produto.Quantidade %>x</td>
          </tr>
        <% end %>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@produto.Preço) %></h4>
        <p class="has-text-centered mb4">Vendido por <%= @produto.user.name %></p>
        <%= button_to 'Adicionar ao carrinho', line_items_path(produto_id: @produto), class: 'button is-light add-to-cart' %>
        <div class="bg-white pa2 pl4 align-items-center">
          <%= link_to 'Voltar', produtos_path, class: 'button is-light voltar' %> 
          <%= link_to 'Home', root_path, class: 'button is-light home' %>
        </div>
      </div>
    </div>
  </div>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_produto_path(@produto), class: 'button' %>
    <%= link_to 'Deletar', produto_path(@produto), method: :delete, data: { confirm: "Você tem certeza ?" }, class: "button is-danger" %>
  <% end %>
   <% end %>
</section>