<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Continuar comprando', produtos_path, class: 'button is-white' %>
</div>
<hr />
<section class="section">
  <%= render(@cart.line_items) %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Esvaziar o carrinho', @cart, method: :delete, data: { confirm: "Você tem certeza?" }, class: "button is-danger" %>
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
        <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
</section>